@{
    ViewBag.Title = "カレンダー画面";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
}

@section Scripts{
    @Html.Js("~/Scripts/Common/Common.js")
    @Html.Js("~/Scripts/M02/M02.js")
}

@Html.Partial("~/Views/M05/M05.cshtml")

<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <div>
                <span class="">当月作業時間</span>
                <span class="">160h</span>
            </div>
            <div>
                <span class="">当月残業時間</span>
                <span class="">20h</span>
            </div>
            <div>
                <span class="">有給残り日数</span>
                <span class="">10日</span>
            </div>
            <div>
                <span class="">年間有給日数</span>
                <span class="">20日</span>
            </div>
            <div>
                <span class="">早退日数</span>
                <span class="">1日</span>
            </div>
        </div>
        <div class="col-lg-8">
            <select>
                <option value="A">A型</option>
                <option value="B">B型</option>
                <option value="O">O型</option>
                <option value="AB">AB型</option>
            </select>
            <table class="table">
                <thead>
                    <tr>
                        <td>月</td>
                        <td>火</td>
                        <td>水</td>
                        <td>木</td>
                        <td>金</td>
                        <td>土</td>
                        <td>日</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                        <td>5</td>
                        <td>6</td>
                        <td>7</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>