@{
    ViewBag.Title = "カレンダー画面";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
}

@section Scripts{
    @Html.Js("~/Scripts/Common/Common.js")
    @Html.Js("~/Scripts/M02/M02.js")
}

<div>
</div>
