@{
    ViewBag.Title = "カレンダー画面";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
}

@section Scripts{
    @Html.Js("~/Scripts/Common/Common.js")
    @Html.Js("~/Scripts/M02/M02.js")
}

<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <div>
                <span class="">当月作業時間</span>
                <span class="">160h</span>
            </div>
            <div>
                <span class="">当月残業時間</span>
                <span class="">20h</span>
            </div>
            <div>
                <span class="">有給残り日数</span>
                <span class="">10日</span>
            </div>
            <div>
                <span class="">年間有給日数</span>
                <span class="">20日</span>
            </div>
            <div>
                <span class="">早退日数</span>
                <span class="">1日</span>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="container">
                <div class="row">
                    <div class="col-lg-1">
                        <span class="">月</span>
                        <span class="">火</span>
                        <span class="">水</span>
                        <span class="">木</span>
                        <span class="">金</span>
                        <span class="">土</span>
                        <span class="">日</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>