@{
    ViewBag.Title = "作業時間入力画面";
}

<div class="popup popupM03 modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- モーダルのヘッダー -->
            <div class="modal-header">
                <h5>@ViewBag.Title</h5>
                <!-- 閉じるアイコン -->
                <button type="button" class="close popupClose" data-dismiss="modal" aria-label="Close">
                    <span>×</span>
                </button>
            </div>
            <!-- モーダルの本文 -->
            <div class="modal-body">
                <input type="text" id="inputWorkDay" placeholder="作業日">
                <input type="text" id="inputWorkTime" placeholder="作業時間">
                <input type="text" id="inputWorkPlace" placeholder="作業場所">
                <input type="button" value="登録する" onclick="M03.onClickApply()">
            </div>
        </div>
    </div>
</div>
